<h1>Home Page</h1>

<a href="https://codeclimate.com/github/fununloaded/One_Eighty_Degrees_Consulting"><img src="https://codeclimate.com/github/fununloaded/One_Eighty_Degrees_Consulting/badges/gpa.svg" /></a>

<br>

<a href="https://coveralls.io/github/fununloaded/One_Eighty_Degrees_Consulting?branch=master"><img src="https://coveralls.io/repos/github/fununloaded/One_Eighty_Degrees_Consulting/badge.svg?branch=master" /></a>

<br>


<a href="https://codeclimate.com/github/fununloaded/One_Eighty_Degrees_Consulting"><img src="https://codeclimate.com/github/fununloaded/One_Eighty_Degrees_Consulting/badges/issue_count.svg" /></a>

<br>

<a href="https://travis-ci.org/fununloaded/One_Eighty_Degrees_Consulting/settings"><img src="https://travis-ci.org/fununloaded/One_Eighty_Degrees_Consulting.svg?branch=master" /></a>
<br>

<br>

<br>
<a href="https://www.pivotaltracker.com/n/projects/1545635">PivotalTracker</a>
