<center><h1>180 Degrees</h1></center>

<!--Temporary Navigation Bar-->
<body class="news">
  <header>
    <div class="nav">
      <ul>
        <!--<li class="home"><a class="active" href="#">Home</a></li>-->
        <li class="home"><a href='#'>Home</a></li>
        <li class="about"><a href="#">About</a></li>
        <li class="teams"><a href="#">Teams</a></li>
        <li class="applications"><a href='applications#index'>Applications</a></li>
      </ul>
    </div>
  </header>
</body>
<br> 
<!--Temporary Navigation Bar End (Charles)-->

<!--Testing Suites and Shit-->
<center>
<a href="https://codeclimate.com/github/fununloaded/One_Eighty_Degrees_Consulting"><img src="https://codeclimate.com/github/fununloaded/One_Eighty_Degrees_Consulting/badges/gpa.svg" /></a>
<br>
<a href="https://coveralls.io/github/fununloaded/One_Eighty_Degrees_Consulting?branch=master"><img src="https://coveralls.io/repos/github/fununloaded/One_Eighty_Degrees_Consulting/badge.svg?branch=master" /></a>
<br>
<a href="https://codeclimate.com/github/fununloaded/One_Eighty_Degrees_Consulting"><img src="https://codeclimate.com/github/fununloaded/One_Eighty_Degrees_Consulting/badges/issue_count.svg" /></a>
<br>
<a href="https://travis-ci.org/fununloaded/One_Eighty_Degrees_Consulting/settings"><img src="https://travis-ci.org/fununloaded/One_Eighty_Degrees_Consulting.svg?branch=master" /></a>
<br>
<a href="https://www.pivotaltracker.com/n/projects/1545635">PivotalTracker</a>
</center>
<!--Testing Suites and Shit end-->
