%center
  %h1 180 Degrees

%center
  %a{:href => "https://codeclimate.com/github/fununloaded/One_Eighty_Degrees_Consulting"}
    %img{:src => "https://codeclimate.com/github/fununloaded/One_Eighty_Degrees_Consulting/badges/gpa.svg"}/
  %br
    %a{:href => "https://coveralls.io/github/fununloaded/One_Eighty_Degrees_Consulting?branch=master"}
      %img{:src => "https://coveralls.io/repos/github/fununloaded/One_Eighty_Degrees_Consulting/badge.svg?branch=master"}/
    %br
      %a{:href => "https://codeclimate.com/github/fununloaded/One_Eighty_Degrees_Consulting"}
        %img{:src => "https://codeclimate.com/github/fununloaded/One_Eighty_Degrees_Consulting/badges/issue_count.svg"}/
      %br
        %a{:href => "https://travis-ci.org/fununloaded/One_Eighty_Degrees_Consulting/settings"}
          %img{:src => "https://travis-ci.org/fununloaded/One_Eighty_Degrees_Consulting.svg?branch=master"}/
        %br
          %a{:href => "https://www.pivotaltracker.com/n/projects/1545635"} PivotalTracker

