!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %meta{:content => "", :name => "description"}
            %meta{:content => "", :name => "author"}
              %title 180 Degrees - Teams
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body
    / Page Content
    .container_graybox
      %p Current and Past Projects
    .container
      %br
      / Project One
      .row
        .col-md-3
          %a{:href => "#"}
            %img.img-responsive{:alt => "", :src => "http://placehold.it/700x300"}
        .col-md-9
          %h3 Project One
          %h4 Subheading
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
      / /.row
      %hr
        / Project Two
        .row
          .col-md-3
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "http://placehold.it/700x300"}
          .col-md-9
            %h3 Project Two
            %h4 Subheading
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.
        / /.row
        %hr
          / Project Three
          .row
            .col-md-3
              %a{:href => "#"}
                %img.img-responsive{:alt => "", :src => "http://placehold.it/700x300"}
            .col-md-9
              %h3 Project Three
              %h4 Subheading
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!
          / /.row
          %hr
            / Project Four
            .row
              .col-md-3
                %a{:href => "#"}
                  %img.img-responsive{:alt => "", :src => "http://placehold.it/700x300"}
              .col-md-9
                %h3 Project Four
                %h4 Subheading
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?
            / /.row
            %hr
              / Project Five
              .row
                .col-md-3
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "http://placehold.it/700x300"}
                .col-md-9
                  %h3 Project Five
                  %h4 Subheading
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.
    / /.container
