%ul
  / <li class="home"><a class="active" href="#">Home</a></li>
  %li.students
    %h1
      %a{:href => "students/new"} Students
  %li.clients
    %h1
      %a{:href => "clients/new"} Clients
  %li.sponsors
    %h1
      %a{:href => "sponsors/new"} Sponsors
%br