%center
  %h1 180 Degrees
/ Temporary Navigation Bar
%body.news
  %header
    .nav
      %ul
        / <li class="home"><a class="active" href="#">Home</a></li>
        %li.home
          %a{:href => "home"} Home
        %li.students
          %a{:href => "students/new"} Students
        %li.clients
          %a{:href => "clients/new"} Clients
        %li.sponsors
          %a{:href => "sponsors/new"} Sponsors
%br