%body
  .container_graybox
    %p Apply
  %h2
    %a{:href => "studentapplications/new"}
    = link_to 'STUDENTS', new_studentapplication_path, class: active(new_studentapplication_path)
  %h2
    %a{:href => "clients/new"}
    = link_to "CLIENTS", new_client_path, class: active(new_client_path)
  %h2
    %a{:href => "sponsors/new"}
    = link_to "SPONSORS", new_sponsor_path, class: active(new_sponsor_path)
  %br
  