%body
  .container_graybox
    %p Admin Panel
  %h2
    %a
    = link_to "Applications", admin_viewapps_path
  %h2
    %a
    = link_to "Edit Users", admin_editusers_path
  %h2
    %a
    = link_to "Set Deadline", admin_newdeadline_path
  