%h1="#{@name} Essays"
- Prompt.all.each_with_index do |prompt, index|
    %br
    %strong=prompt.text
    %br=@essay[index]
%br
%br
%br
// = button_to "Back to Applications", admin_viewapps_path, :method => "get"