%center
  %h1 About - 180 Degrees
%body.news
  %header
    .nav
      %ul
        %li.home
          %a{:href => "home"} Home
        %li.about
          %a{:href => "about"} About
        %li.teams
          %a{:href => "teams"} Teams
        %li.applications
          %a{:href => "applications"} Applications
%br

%center
  Whats up, we're a consulting organization.