/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Josefin Sans";
  text-align: center;
}

// Nav Bar CSS: 
.nav ul {
  list-style: none;
  background-color: rgba(255,255,255,.8);
  // text-align: center;

  padding-top: 1%;
  padding-right: 3%;
  padding-bottom: 0%;
  padding-left: 0px;
  
  margin-top: 0;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0;
  
  // overflow: visible;
  
}
.nav li {
  font-family: "Josefin Sans";
  font-size: 0em;
  line-height: 40px;
  height: 40px;
  
  text-align: right;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 1.25s background-color;
}
 
.nav a:hover {
  color: gray;
}
 
.nav a.active {
  background-color: rgba(255,255,255,.8);
  color: #408000;
}

@media screen and (min-width: 600px) {
  .nav li {
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3.5px;
    font-weight: 400;
    font-style: normal;
    line-height: 2em;
    
    width: 125px;
    border-bottom: none;
    height: 50px;
    text-align: center;
    
  }
  
  .nav li a {
    color: #000;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
  
  
  .nav img {
    width: 100%;
    text-align: left;
    max-height: 60%;
    max-width: 60%;
    margin-top: -44px;
  }
 
  .hidden { display: none; }


}

// General CSS:

// gray box title on each page
h1 {
    text-align: center;
    background-color: gray;
    height: 90px;
    padding-top: 40px;
    text-transform: uppercase;
    color: white;
    font-size: 2.7em;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: 350;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    margin-top: 55px;
}

// Login and Signup CSS:
.loginfield {
  padding-top: 10px;
  padding-bottom: 0px;
  letter-spacing: 2px;
}

.confirmpassword {
  padding-top: 5px;
  padding-bottom: 20px;
  letter-spacing: 2px;
}

.signup {
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  font-size: 12px;
}

h4 {
  text-align: center;
}

h5 {
  
}

// Admin Table CSS
table {
  text-align: center;
  border-collapse: collapse;
  width: 85%;
}

tr {
  text-align: center;
}

// table categories
th {
  padding-right: 0px;
  border: 1px solid black;
  font-size: 16px;
  text-transform: uppercase;
  height: 32px;
}

// table items
td {
  text-align: center;
  position: center;
  border: 1px solid black;
  height: 22px;
}